.intro {
    text-align: center;
}
.blog-img {
    height:40%;
}
.pop-blogs {
    width:20%;
}
.head-img {
    height: 400px;
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.head-txt {
    text-align: center;
}