.intro {
    text-align: center;
}
.blog-img {
    height:300px;
}
.pop-blogs {
    height : 40px;
    width : 30px;
}
.head-img {
    height: 400px;
    width: 800px;
    margin-left: 120px;
    margin-right: 10px;
}